.border {
  border: 2px solid black;
  width: 40%;
  height: 420px;
  margin: 1% 5%;
  padding: 5px;
  background-color: gray;
  box-shadow: inset 4px 8px 8px black;
}
body {
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.1)), url("../img/cartoon.jpg");
   height: 100vh;
   background-position: center;
   background-size: cover;
}
button {
  width: 30%;
  margin: 20px;
  box-shadow: 2px 5px 5px black;
}
.active-user {
  box-shadow: 4px 8px 8px black;
  background-color: white;
}
h1 {
  margin-top: 70px;
  margin-bottom: 60px;
  text-shadow: 1px 1px 2px purple;
  font-size: 60px;
}
img {
  margin-top: 10%;
}
